<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Server Side JavaScript</h1>
    <ul>
        <% for(var i=0 ; i<numbers.length ;i++){ %>
            <li>
                <a href = "http://localhost:3000/menu/<%= numbers[i]%> ">
                 <%= numbers[i]%></a>
            </li>
        <% } %>

    </ul>
    <article>
        
    </article>
</body>
</html>